<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="WebSiteTest" value="www.lcimmo.fr"/>
    <add key="WebSiteDetailTest" value="http://www.lcimmo.fr/vente/details/186/vente-maison-4-pieces-2-chambres-fontenay-sous-bois-94120/"/>
    
    <add key="TestModeNbrMaxItem" value="20"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
